.player {
  width: 25rem;
  background: #404952;
  padding: 2.6rem;
  color: #ffffffd0;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
h3 {
  text-align: center;
  letter-spacing: 0.1rem;
}
.divider {
  opacity: 0.6;
}
.musicelement {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.song_picture {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  border: 0.1rem solid #ffffff86;
  place-items: center;
  display: grid;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}
.progress {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress_bar {
  width: 100%;
  height: 0.7rem;
  background: #0568d9;
  margin-top: 0.6rem;
  position: relative;
}
.progress_line {
  width: 40%;
  height: 100%;
  position: absolute;
  background: #fff;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress_line::before {
  width: 1.2rem;
  height: 1.3rem;
  content: "";
  position: absolute;
  background: #fff;
  right: -2%;
  border-radius: 50%;
}
.song_detail {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}
marquee {
  font-size: 1rem;
  font-weight: bold;
}
.song_detail p {
  font-size: 1rem;
}
